<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <meta name="fragment" content="!">
  <meta name="description" content="MEAN app for the Artoo Campus">
  <meta name="author" content="WeBox Studio">
  <meta name="application-name" content="Artoo Campus">
  <meta name="viewport" content="width=device-width">
  <title>Artoo Campus - Controllers</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="app">
  <h1>Par e pall eddie fusc</h1>
  <!-- bind the item controller to an element -->
  <div ng-controller="PrimoitemCrtl" class="container">
    <h1 ng-bind="titolo"></h1>
    <h1 ng-bind="titolo1"></h1>
    <h1 ng-bind="titolo2"></h1>
    <div class="from-group col-md-6">
      <label for="nome">Nome</label>
      <input ng-model="ilmionome"type="text" class="form control" id="nome" name="nome"placeholder="inserisci nome">
      <div class="col-md-2"><button class="btn btn-success" type="button" name="button" ng-click="stampa()">Stampa</button></div>
    </div>

    <div class="form-group col-md-6">
      <label for="nome">Id</label>
      <input ng-model="nuova.id"type="text" class="form control" id="nome" name="nome"placeholder="inserisci nome">
      <label for="nome">Nome</label>
      <input ng-model="nuova.nome"type="text" class="form control" id="nome" name="nome"placeholder="inserisci nome">
      <label for="nome">Descrizione</label>
      <input ng-model="nuova.descrizione"type="text" class="form control" id="nome" name="nome"placeholder="inserisci nome">
      <label for="nome">Slots</label>
      <input ng-model="nuova.slots"type="text" class="form control" id="nome" name="nome"placeholder="inserisci nome">
      <label for="nome">Image</label>
      <input ng-model="nuova.image"type="text" class="form control" id="nome" name="nome"placeholder="inserisci nome">
      <button class="btn btn-success" type="button" name="button" ng-click="inserisci()">Inserisci</button>
    </div>

    <p ng-bind="ilmionome"></p>
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>immagine</th>
            <th>nome</th>
            <th>descrizione</th>
            <th>colpi</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="arma in listaarmi track by $index"> <!-- track by $index serve per far creare anche elementi uguali -->
            <td><img ng-src="{{arma.image}}" width="100px"></td>
            <td>{{arma.nome}}</td>
            <td>{{arma.descrizione}}</td>
            <td>{{arma.slots}}</td>
            <td><button ng-click="elimina(arma.id,$index)" class="btn btn-danger">Elimina</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- interpolate the data to the view -->
  <!-- understanding the scope -->
  <!-- add handles for behaviours -->
  <!-- create a controller for the player for managing data such as personal and game info -->
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app.js"></script>
  <!-- load the item controller -->
  <script src="item.controller.js"></script>
</body>

</html>
